*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

@media only screen and (max-width: 700px) 
{
  table, thead, tbody, tr, th, td {
      display: block;
  }
  td {
      position: relative;
      padding-left: 150px;
    
  }
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 130px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    top: 0;
    bottom: 0;
    background-color: #f9f9f9;
    color: #333;
    
    
    align-items: center;
    font-weight:bold;
  }
}