<li class="relative group">
    <div class="flex items-center px-4 py-3 space-x-3 cursor-pointer hover:bg-gray-600 dropdown-toggle">
        <span class="text-green-400">👥</span>
        <span>Gestion des utilisateurs</span>
        <svg class="w-4 h-4 ml-auto transition-transform duration-200 transform" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path d="M19 9l-7 7-7-7"></path></svg>
    </div>
    <ul class="hidden mt-1 ml-8 space-y-1 bg-gray-700 rounded shadow dropdown-menu">
        <li class="px-4 py-2 rounded hover:bg-gray-600"><a href="listeUtilisateurs.html">Liste utilisateurs</a></li>
        <li class="px-4 py-2 rounded hover:bg-gray-600"><a href="AjoutUtilisateurs.html">Ajouter utilisateur</a></li>
        <li class="px-4 py-2 rounded hover:bg-gray-600"><a href="groupeUtilisateur.html">Groupe d'utilisateur</a></li>
        <li class="px-4 py-2 rounded hover:bg-gray-600"><a href="groupeSupprimes.html">Groupe supprime</a></li>

    </ul>
</li>