<!-- Top bar -->
<div class="flex items-center justify-between px-6 py-2 bg-blue-600 sm:py-4 ">
    <div class="ml-10 text-lg font-semibold text-white lg:hidden sm:">
        Dashboard
    </div>
    <div class="ml-auto">
        <div class="flex items-center justify-center w-10 h-10 bg-white rounded-full cursor-pointer bg-opacity-20">
            <span class="text-xl text-white">👤</span>
        </div>
    </div>
</div>

    <!-- Hamburger sur la barre latérale du main content -->
<div class="absolute left-0 z-50 items-start justify-center ml-5 top-4 lg:hidden" >
<button id="mobile-menu-btn" class="p-2 text-white bg-gray-800 rounded-lg shadow">
    ☰
</button>
</div>