 <!-- Carte 1 - Aurion -->
<div class="flex flex-col w-full max-w-xs mx-auto mb-8 overflow-hidden text-white bg-gray-800 rounded-lg sm:flex-row lg:flex-col sm:max-w-full sm:mx-0">
    <div class="relative w-full h-96 sm:w-1/2 lg:w-full">
        <div class="bg-[url('https://kirooworld.com/images/asset/aurionkgflejeumobile.png')] bg-cover bg-center h-full w-full"></div>
        <div class="absolute z-10 flex items-center justify-center w-8 h-8 text-lg font-bold text-black bg-white rounded-full top-4 right-4">
        2
        </div>
    </div>
    <div class="flex flex-col justify-center w-full p-4 text-center sm:w-1/2 lg:w-full">
        <h3 class="font-bold text-xl mb-2">LE RESPONSABLE MBOA</h3>
        <p class="text-gray-400 mb-4">#responsablembgajeumobile</p>
        <div class="flex justify-center mb-3 gap-2">
            <div class="flex items-center justify-center w-8 h-8 text-xl bg-gray-600 rounded-full">🌐</div>
            <div class="w-8 h-8 bg-gray-600 rounded-full flex items-center justify-center">🐦</div>
            <div class="w-8 h-8 bg-gray-600 rounded-full flex items-center justify-center">📷</div>
            <div class="w-8 h-8 bg-gray-600 rounded-full flex items-center justify-center">🎵</div>

        </div>
        <div>
            <div class="text-2xl font-bold">118 142</div>
            <div class="text-gray-400">utilisateurs</div>
            <div class="mt-1 text-sm text-gray-500">+1 176 utilisateurs ce mois</div>
        </div>
    </div>
</div>
